* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.logo {
	font-family: "Chela One", cursive;
	font-size: 5rem;
	color: #ededed;
}

.logo:hover {
	color: #f95959;
}
a {
	text-decoration: none;
}
