* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.logoYellow {
	font-family: "Chela One", cursive;
	font-size: 5rem;
	color: #ededed;
}

.logoYellow:hover {
	color: #facf5a;
}
a {
	text-decoration: none;
}
