* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.logo2Red {
	font-family: "Merienda", cursive;
	font-size: 4rem;
	color: #ededed;
}

.logo2Red:hover {
	color: #f95959;
}
a {
	text-decoration: none;
}
