* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.logoBlue {
	font-family: "Chela One", cursive;
	font-size: 5rem;
	color: #ededed;
}

.logoBlue:hover {
	color: #455d7a;
}
a {
	text-decoration: none;
}
