* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.logo2Blue {
	font-family: "Merienda", cursive;
	font-size: 4rem;
	color: #ededed;
}

.logo2Blue:hover {
	color: #455d7a;
}
a {
	text-decoration: none;
}
