/* Reset */
@import "../reset.scss";

/*CSS for each Fonts */
a {
	text-decoration: none;
	color: $primary-color;
}

@mixin logo {
	font-size: 5rem;
	height: 20vh;
	& .red:hover {
		color: $red;
	}
	& .yellow:hover {
		color: $yellow;
	}
	& .blue:hover {
		color: $blue;
	}
}
.marienda {
	@include logo();
	font-family: $font-marienda;
	font-size: 3.5rem;
}

.chelaOne {
	@include logo();
	font-family: $font-chelaOne;
}
.eczar {
	@include logo();
	font-family: $font-eczar;
	font-size: 4rem;
}
.pacifico {
	@include logo();
	font-family: $font-pacifico;
	font-size: 4rem;
}
.orbitron {
	@include logo();
	font-family: $font-orbitron;
	font-size: 3.25rem;
}
